.main-font {font-family: 'Playfair Display', serif;}
.secondary-font {font-family: 'Open Sans', sans-serif;}
.text-major{
    color: #FFAE04;
}
a:hover{
    color: #ff9600;
}
.btn-link{cursor: pointer}
.btn {
  font-weight: bold;
}
.btn-primary {
  background-color: #FFAE04;
  border-color: #FFAE04;
  cursor: pointer
}
.btn-primary:hover {
  background-color: #FE8C07;
  text-decoration: none;
  border-color: #FE8C07;
}
.sort-by {
    background-color: #121216;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border: 2px solid #fff;
}
.sort-by:hover {
  cursor: pointer;
}
.sort-by option {
  font-weight: bold;
}
.badge {
  text-transform: uppercase;
  font-size: 14px;
}
.badge-pending {
  background: #fff200;
  color: #333;
}
.badge-capture {
  background: #e4cd05;
  color: #333;
}
.badge-refund,
.badge-partial-refund {
  background: #a52a2a;
  color: #fafaaf;
}
.badge-chargeback,
.badge-partial-chargeback {
  background: #bc8f8f;
  color: #333;
}
.badge-authorize {
  background: #0080FF;
  color: #fafafa;
}
.badge-cancel {
  background: #fff;
  color: #333;
}
.badge-deny,
.badge-failure  {
  background: #ff2800;
  color: #fff;
}
.badge-expire {
  background: #cacaca;
  color: #333;
}
.badge-settlement {
  background-color: #32cd32;
  color: #fff
}

/*------------- NAV ------------*/
nav.nav-top {
    height: 64px;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
}
.nav__content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
/* .nav-logo {
    margin-right: 36px;
} */
.nav-logo img {
  max-width: 150px;
}
.nav__content__left {
    display: flex;
    width: 100%;
    max-width: 800px;
    align-items: center;
}
.nav__content-links {
    display: flex;
    width: 100%;
}
.nav__content__left .nav__content-links {
  align-items: center;
}
.nav--content--link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    color: #8E8E8E;
    margin: 0 16px;
    white-space: nowrap;
}
.nav--content--link.active {
    color: #ffffff;
    font-weight: 600;
}
.nav--content--link:hover {
    text-decoration: none;
    color: #ffffff;
}
.active .nav--link--decoration {
 opacity: 100;
}
.nav--link--decoration {
    width: 33px;
    height: 2px;
    background-color: #FFAE04;
    margin-top: 2px;
    opacity: 0;
}
.nav-login, .nav-login__icons {
    display: flex;
    align-items: center;
}
.nav-login__icon { position: relative; }
.nav-login__icon__counter {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFAE04;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
}
.nav-login__icon, .nav-login__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.nav-login__icon:hover, .nav-login__profile:hover {
    background-color: #372D21;
    cursor: pointer;
}
.nav-login__profile {
    position: relative;
    background-color: grey;
    border: 2px solid #FFAE04;
}
.nav__dropdown-menu {
    margin-top: 12px;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border-radius: 8px;
    display: none;
}

.nav-login__profile .nav__dropdown-menu:before,
.nav-login__profile .nav__dropdown-menu:after{
  content: ' ';
  display: block;
  border-style: solid;
  border-width: 0 .5em .8em .5em;
  border-color: transparent;
  position: absolute;
  right: 16px;
}
.nav-login__profile .nav__dropdown-menu:after{
    top: -.7em;
    border-bottom-color: #fff;
    border-radius: 2px;
}    

.dropdown:hover .dropdown-menu {
    display: block;
  }
.nav__dropdown-menu li {
    list-style: none;
    margin: 4px 0;
}
li.nav-dropdown__menu {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    color: #52575C;
    white-space: nowrap;
}
.nav-login__profile ul,.nav-notification ul {
    padding: 0;
    overflow: hidden;
}
.nav-notification li.nav-dropdown__menu{
    font-weight: normal;
}
.nav-login__profile ul li a, .nav-notification ul li a {
    padding: 8px 32px 8px 16px;
    color: #52575C;
    width: 100%;
    display: block;
}

.nav-login ul li a:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}
.nav-dropdown__divider {
    height: 1px;
    background-color: #E8E8E8;
    margin: 8px 32px 8px 16px;
}

.nav-tabs {
  border-color: #FFAE04;
}

.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
  color: #FFAE04;
  font-weight: bold;
  background-color: unset;
  border-color: unset;
  border-bottom: 3px inset #FFAE04;
}

.nav-tabs .nav-link {
  color: #FFAE04;
  border: none;
  border-radius: 0;
}

.nav-top .btn--nude {
    margin-right: 40px;
    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 25px;
}
.nav-top .btn--nude:hover {
    color: seashell;
    text-decoration: none;
}
.btn{
    border-radius: 2px;
}
.btn--small {
    background-color: #FFAE04;
    border-radius: 2px;
    padding: 5px 18px;
    color: #25282B;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 16px;
    text-align: center;
    display: inline-block;
}

.btn--medium {
    background-color: #FFAE04;
    border-radius: 2px;
    padding: 7px 24px;
    color: #25282B;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}
.btn--medium:hover {
    text-decoration: none;
    background-color: #FE8C07;
    color: #25282B;
}
.btn-outline--medium {
  background-color: transparent;
  border: 1px solid #FFAE04;
  border-radius: 2px;
  color: #FFAE04;
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 25px;
  padding: 7px 24px;
  text-align: center;
}
.btn-outline--medium:hover {
  background-color: #FFAE04;
  border: 1px solid #FFAE04;
  border-radius: 2px;
  color: #25282B;
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 25px;
  padding: 7px 24px;
  text-align: center;
}
.btn--large {
    background-color: #FFAE04;
    border-radius: 2px;
    padding: 15px 40px 16px 40px;
    color: #25282B;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    border: none;
    display: inline-block;
}
.btn-outline--large {
    background-color: transparent;
    border: 1px solid #FFAE04;
    border-radius: 2px;
    color: #FFAE04;
    display: inline-block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
    padding: 15px 40px 16px 40px;
    text-align: center;
}
.link--button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFAE04;
}
.link--button:hover {
    color: #FE8C07;
    text-decoration: none;
}




/*------------- NAV ------------*/

/*------------ HEADER ----------*/
.header {
    padding: 64px 0 54px 0;
    position: relative;
    background-image: url("../img/decoration/header-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
}
img.header-decoration {
    position: absolute;
    left: 0;
    top: 50%;
}
.header h1 { margin-bottom: .5rem; margin-top: 4rem; }
.header .body-2 {
    width: 70%;
    margin-bottom: .25rem;
}
.header__left .body-3 { margin-bottom: 1rem; display: block; }
h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 43px;
    color: #FFFFFF;
}
h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 32px;
    color: #000000;
    margin: 0px;
}
h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 54px;
    margin: 0px;
}
h6 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 54px;
    margin: 0px;
}
.body-2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    line-height: 25px;
    color: #FFFFFF;
}
.body-3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 33px;
    color: #FFFFFF;
}
.label-1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.overline {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.8px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFAE04;
}
.color__orange_primary { color: #FFAE04 }
.color__black_primary {
    color: #25282B;
}
.color__black_secondary {
    color: #52575C;
}
.color__white {
    color: #ffffff;
}
.header__signup {
    border: 1px solid #FFAE04;
    padding: 16px;
    display: inline-flex;
    align-items: center;
    margin-bottom: .5rem;
}
.header__input {
    padding: 15px 24px;
    margin-right: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.header__terms span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 22px;
    color: #FFFFFF;
}
.header__scroll {
    display: flex;
    align-content: center;
}
.header__scroll-icon {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.header__scroll-icon span {
    margin-bottom: 12px;
}
/*------------ HEADER ----------*/

/*--------- SUMMARY DESC -------*/
.summary-desc {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mentor-show .summary-desc__item img {
    max-width: 36px;
}

.mentor-show .summary-desc__item {
  background-color: transparent;
  background: transparent;
  box-shadow: none;
}
.mentor-show .summary-desc__item__text {
  border: none;
  text-align: center;
  width: 100%;
}
.summary-desc__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 16px;
    background-color: #17141d;
    border-radius: 8px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    background: #ffae04;
    max-width: 175px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.summary-desc__item:hover {
  transform: translateY(-4px);
}
.summary-desc__item__text {
    border-top: 2px solid #ffae04;
    text-align: center;
    width: 100%;
}
.summary-desc__item__text h1,
.summary-desc__item__text span {
  color: #000;
  margin: 0 0 8px 0;
}
.mentor-show .summary-desc__item__text h2,
.mentor-show .summary-desc__item__text span {
  color: #fff;
}
.summary-desc__item img {
    max-width: 72px;
    margin-bottom: 16px
}
.summary-desc__item h2 {
    margin: 0;
}
/*--------- SUMMARY DESC -------*/

/*-------- VIDEO PREVIEW -------*/
.video-preview h1, .request-mentor h1,
.video-preview p, .request-mentor p {
    text-align: right;
    display: block;
}
.request-mentor a {
    width: fit-content;
}
/*-------- VIDEO PREVIEW -------*/

.video-collection {
    margin-top: 5rem;
}
.video-collection img {
    width: 100%;
}
.video-collection h1,
.video-collection p {
    text-align: center;
}
.video-collection__item {
    display: flex;
    flex-direction: column;
}

.free-course .position-relative i {
  font-size: 30px;
  top: 50%;
  left: 50%;
  margin-left: -26px;
  margin-top: -30px;
  color: #FFAE04;
  z-index: 1003;
}

.free-course .ytp-large-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  z-index: 63;
}

.free-course .ytp-button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  cursor: default;
  line-height: inherit;
}
.free-course a:hover .ytp-large-play-button-bg {
  -moz-transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  fill: #FFAE04;
  fill-opacity: 1;
}
.free-course:hover {
  cursor: pointer
}

.free-course:hover i {
  cursor: pointer;
  color: #FE8C07;
}

.free-course:hover a {
  text-decoration: none;
}

.testimonial__text__container {
    min-height: 240px;
    max-height: 240px;
    height: 100%;
}
.testimonial__item__text {
    position: relative;
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 24px;
    height: 100%;
}
.testimonial__item__text p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 20px;
    max-height: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; 
    color: rgba(0, 0, 0, 0.68);
}
span.testimonial__item__avatar {
    position: absolute;
    bottom: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 32px;
    color: #000000;
}

.testiomonial__wrapper {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.trial {
    padding: 5rem 0;
    background-image: url("../img/trial-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding: 4rem 0;
}
.footer span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 25px;
    color: #FFAE04;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.footer__logo img {
    width: 175px;
    
    margin-bottom: 1.5rem;
}
.footer ul {
    padding: 0;
    margin-top: 24px;
}
.footer ul li {
    list-style: none;
    margin-bottom: 1rem;
}
.footer ul li a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 27px;
    color: #E0E0E0;
}
.footer__socmed {
    display: flex;
    margin-top: 24px;
}
.footer__socmed a:hover {
    text-decoration: none;
}
.footer__socmed__icon {
    margin-right: 16px;
    border: 1px solid #32323C;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.footer__socmed .fab, 
.share-course__icons .fab {
    color: #FFAE04;
    font-size: 1.5rem;
}

.share-course__icons {
    padding: 8px;
}
.share-course__icons .fab {
    font-size: 1rem;
}


.copyright {
    display: flex;
    align-items: center;
    height: 64px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    color: #F2F2F2;
    background-color: #1A1A21;
    justify-content: center;
}



/*------------- LOGIN & REGISTER ------------*/
.login, .register , .about, .mentor, .news {
    background-repeat: no-repeat;
    background-position: top right;
}
.login{ background-image: url("../img/decoration/login-bg.png"); }
.register { background-image: url("../img/decoration/login-bg.png"); }
.about { background-image: url("../img/decoration/login-bg.png"); }
.mentor { background-image: url("../img/decoration/login-bg.png"); }
.news { background-image: url("../img/decoration/login-bg.png"); }
.login .form-card,
.register .form-card { margin: 8rem 0; }
.form-card {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 2rem 1.5rem;
}
.about, .mentor,  .quiz-wrapper {
    padding: 10rem 0 6rem 0;
    position: relative;
    margin-bottom: 3rem;
}
.mentor-show {
  padding: 6rem 0 2rem 0;
  position: relative;
  margin-bottom: 3rem;
}
.mentor-request {
    margin-bottom: 4rem;
}
.mentor-item div img {
  width: 100%;
}
.mentor-request img {
    width: 80%;
    position: relative;
}
.img.mentor-request__img__main {
    position: relative;
    z-index: 100;
}
img.mentor-request__img__decor {
    position: absolute;
    bottom: 10px;
    right: 90px;
    width: 140px;
    height: 226px;
    z-index: 10;
}
.mentor p {
    margin-bottom: 3rem;
}

/*------------- LOGIN & REGISTER ------------*/



/*------------- MENTOR SHOW ------------*/
.mentor-show__video-preview video {
    border-radius: 8px;
}
.mentor-show__video-desc span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    margin-bottom: 1rem;
}
.mentor-show__price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-top: 12px;
    margin-bottom: 1.5rem;
    display: block;
}
.mentor-show__price span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFFFFF;
}
.mentor-show p,
.mentor-show h1 {
    margin-bottom: 0;
}


/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > .fa-star {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > .fa-star {
  color:#FFAE04;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > .fa-star {
  color:#FF912C;
}

.rating-value h5 {
  font-size: 18px;
  color: #fff;
}
.mentor__fetured-comments__comment {
    display: flex;
    align-items: center;
    position: relative;
}
.mentor__fetured-comments__text {
    background-color: #ffffff;
    border-radius:8px;
    padding: 24px 32px;
    color: #000000;
    display: block;
    width: 100%;
}
.mentor__fetured-comments__text p {
    color: #000000;
    margin-bottom: 0;
}
.mentor__fetured-comments__text__time {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 22px;
}
.mentor__comment-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mentor__comment-form .container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mentor__comment-form .container form textarea {
  border-radius: 4px;
}

.lesson-plan__box {
    background-color: #ffffff;
    padding: 24px 40px;
    border: 2px solid #FFAE04;
    color: #000000;
}
.lesson-plan__box a:hover {
    text-decoration: none;
    color: #8E8E8E;
}
.lesson-plan__box__list {
    display: flex;
    margin-bottom: .5rem;
}
.lesson-plan__box__list h5,
.lesson-plan__box__list p,
.lesson-plan__box__list__number {
    color: #000000;
}
.lesson-plan__box__list__number {
    margin-right: 3rem;
    text-align: right;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 85px;
}
.lesson-plan__box__list__text {
    padding-top: .8rem;
}
.lesson-plan__box__list__divider {
    height: 2px;
    background-color: #DEDEDE;
    margin: 0 1.5rem;
    margin-bottom: .5rem;
}

.share-course {
    margin: 3rem 0;
}
.share-course h6 {
    color: #ffffff;
    text-align: center;
}
.share-course__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 8px;
  max-width: 300px;
  width: 100%;
}
.share-course .justify-center {
  justify-content: center;
}
.share-course .justify-center .footer__socmed__icon {
  margin: 0;
  transition: all .3s;
}
.share-course .justify-center a:hover {
  text-decoration: none;
  cursor: pointer
}
.share-course .justify-center a:hover .footer__socmed__icon {
  border-color: #FFAE04;
}

/*------------- ALL WISHLIST ------------*/

.wishlist, .notification, .cart, .faq-detail, .privacy-page, .terms-page, .privacy-detail, .transaction-success, .transaction-failed, .my-course {
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.news {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.wishlist .page-title,
.notification .page-title,
.cart .page-title, .faq-detail .page-title{
  color: #FFAE04;
}

.wishlist table th a {
  color: #FFAE04;
}
.wishlist table th a:hover {
  color: #FE8C07;
  cursor: pointer;
  text-decoration: none;
}
.wishlist table th a.btn-primary {
  color: #fafafa;
  background-color: #FFAE04;
  border-color: #FFAE04;
}

.wishlist__card {
    display: flex;
}
.wishlist__card__img{
    width: 30%;
}
.wishlist__card__text {
    width: 70%;
}
.wishlist__card__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.wishlist__card__text {
    background-color: #ffffff;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;

}
.wishlist__card__text .btn--large {
    align-self: flex-end;
}


/*------------- ALL NOTIFICATION ------------*/

.nav-notification .nav__dropdown-menu {
  margin-top: 0;
}

.notification .notification-item {
  border: 1px solid;
  border-color: #777;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  padding: 16px 12px;
  margin-bottom: 4px;
  transition: all .3s;
}

.notification-item:hover {
  cursor: pointer;
  transform: translateX(3px);
  border-color: #FFAE04;
}

.notification .notification-item .notification-text {
  font-size: 12px;
  color: #555;
  margin-bottom: 0;
}

/*------------- ALL CART ------------*/

.cart .cart-item {
  border: 1px solid;
  border-color: #777;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  padding: 16px 12px;
  margin-bottom: 4px;
  transition: all .3s;
}

.cart-item:hover {
  cursor: pointer;
  transform: translateX(3px);
  border-color: #FFAE04;
}

.cart .cart-item .cart-item-description {
  font-size: 12px;
  color: #777;
  margin-bottom: 16px;
}

.cart-image-wrapper {
  justify-content: center;
  align-items: center;
}

.cart-item-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
}

.cart-item-course, .cart-item-mentor {
  color: #777;
  transition: all .3s;
}

.cart-item-course:hover {
  color: #FE8C07
}

.cart-item-mentor:hover {
  color: #FE8C07
}

.transaction_item {
  border: 2px solid #bebebe;
  border-radius: 4px;
  padding: 8px;
  transition: all .3s;
}

.transaction_item:hover {
  border-color: #ff9600;
}

.transaction_item .transaction_header {
  border-bottom: 1px solid #bebebe;
  margin-bottom: 16px;
}

.transaction_item .transaction_header .transaction_date {
  font-size: 14px;
  font-weight: bold;
  color: #bebebe;
  flex-grow: 2;
  text-align: right;
}

.transaction_item .transaction_header .transaction_code {
  flex-shrink: 1;
}

.transaction__mentor_summary p {
  color: #fafafa;
  max-height: 250px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

#order .cart__items__item__details .cart__items__item__details__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#order .transaction_total_price {
  margin-bottom: 16px;
  border-top: 1px solid #bebebe;
  text-align: right;
  color: #FE8C07;
  font-size: 18px;
  padding-top: 8px;
}

.cart__items__check {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #E8E8E8;
}
.cart__counter {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    display: block;
}
.cart__items__item {
    display: flex;
    justify-content: stretch;
}
.cart__items__item .form-check-input {
    position: static;
    margin: 0;
    margin-right: 10px;
    align-self: center;
}
.cart__items__item__details {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}
.cart__items__item__details__top {
    align-self: flex-start;
}
.cart__items__item__details__top h2 {
    margin-bottom: 0;
}
.cart__items__item__details__mentor {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.cart__items__item__img {
    width: 180px;
    height: 180px;
}
.cart__items__item__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cart__items__item__details__btm {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
}
.cart__items__item__details__btm__left {
    display: flex;
    flex-direction: column;
}
.cart__items__item__details__btm__left a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #FE8C07;
    margin-top: 4px;
}
.cart__items__item__details__strike-price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 33px;
    text-decoration-line: line-through;
    color: #E8E8E8;
    text-align: right;
}
.cart__items__item__details__price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 44px;
    color: #FFAE04;
    text-align: left;
}
.cart__items__item__details__actions {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}
.cart__items__item__details__date {
  color: #E0E0E0;
}
.cart__total {
    width: 100%;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
}
.cart__total__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.cart__total__divider {
    width: 100%;
    height: 1px;
    background-color: #A0A4A8;
    margin: 8px 0 16px 0;
}
.cart__total__price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.cart__total__price__left {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.74);
}
.cart__total__price__right {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.cart__total a {
    display: block;
    width: 100%;
    margin-top: 16px;
}
.cart__total .btn-primary {
  color: #000;
}
/*------------- ALL CART ------------*/


/*-------------- SEARCH -------------*/
.nav-gone {
    
}
.search-icon:hover,
.search-close:hover {
    cursor: pointer;
}
.search-icon,
.search {
    margin: 0 16px;
}
.search-close {
    padding: 0 12px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px rgb(206, 212, 218);
    border-left: none;
    color: #777777;
}
.search-close a {
    color: #777777;
}
.search {
    position: relative;
    display: none;
}
.search-result {
    position: absolute;
    background-color: #ffffff;
    padding: 16px;
    width: 100%;
    left: 0;
    margin-top: 4px;
    border-radius: 0 0 8px 8px;
}
.search-result__lists span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
    display: block;
}
.search-result__course.search-result__lists span {
    margin-top: 16px;
}
.search-result__list__result__link {
    display: flex;
    align-items: center;
}
.search-result__list__result__link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}
.search-result__list__result__text__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 27px;
}
.search-result__list__result__text__caption {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 16px;
}



/*-------------- SEARCH -------------*/






.lesson-show {
    padding: 4rem 0 1rem 0;
    text-align: center;
}
.lesson-details__desc__divider {
    height: 1px;
    width: 100%;
    background-color: #777777;
}
.lesson-details__desc__comment__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}
.lesson-details__desc__comment__list__detail {
    display: flex;
    margin-bottom: 1.2rem;
}
.lesson-details__desc__comment__list__detail__avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}
.lesson-details__desc__comment__list__detail__text__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 4px;
}
.lesson-details__desc__mentor,
.lesson-details__desc__navigation {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 1.2rem;
}
.lesson-details__desc__mentor a {
    display: block;
    width: 100%;
}
.lesson-details__desc__mentor__details {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.lesson-details__desc__mentor__details__text h2 {
    margin-bottom: -4px;
}
.lesson-details__desc__mentor__details__avatar img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}
.lesson-details__desc__mentor__details__text__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.lesson-details__desc__navigation h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 24px;
}
.lesson-details__desc__navigation a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: block;
    margin-bottom: 16px;
}




/*------------- ALL CART ------------*/
.form-control {
    border-radius: 0px;
}
.form-control.search-nav {
    border-right: none;
    width: 320px;
}
.input-group-append .btn-search {
    background-color: #ffffff !important;
    border-color: rgb(206, 212, 218);
}

/*------------- PROFILE ------------*/

.profile {
  margin-top: 4rem;
}

#profile {
  margin-top: 18px;
}

.profile .avatar img {
  max-width: 200px;
  max-height: 200px;
}

.profile > .jumbotron.banner {
  position: relative;
  background-color: #121216;
}

.profile .jumbotron h1 {
  font-size: 3rem;
  color: #FFAE04;
}


.profile .jumbotron h6 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.9rem;
  border-radius: 2px;
}
.nav-profile {
  margin-right: 18px;
  font-weight: bold;
}

.profile-label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #E0E0E0;
  opacity: .7;
  margin: 0;
}

.tab-content h6 {
  color: rgb(255, 223, 154);
}

#changepassword label {
  color: #FFAE04;
}

button.btn-edit-profile {
  border: 3px solid #fff;
  padding: 8px 16px;
  color: #fff;
  transition: all .3s
}

button.btn-edit-profile:hover {
  border-color: #FFAE04;
  color: #FFAE04;
}

/*------------- PROFILE ------------*/

.quiz-wrapper label {
  font-size: 16px;
}

/*------------- NEWS ------------*/

.news-list .card .card-subtitle {
  font-size: 12px;
}

.news-list .pagination {
  justify-content: space-between;
}

.news-list .page-item.disabled .page-link {
  background-color: rgba(0, 0, 0, 0);
  color: #FFAE04;
  font-weight: bold;
  border: 1px solid #FFAE04;
  border-radius: 4px;
}

.news-list .page-link {
  background-color: #FFAE04;
  color: #333;
  font-weight: bold;
  border: 1px solid #FFAE04;
  border-radius: 4px;
}

.news-list .page-item:last-child .page-link:hover {
  border: 1px solid #FF912C;
  background-color: #FF912C;
}

.news-detail {
  color: #fafafa;
}

.news-detail .author,
.news-detail .upload-date {
  color: #aeaeae;
  font-weight: bold;
  font-size: 14px;
}

.news-detail .body {
  font-size: 16px;
  line-height: 1.25;
  margin: 16px 0;
}

.news-item {
  height: 150px;
  border: none;
  transition: all .3s;
}

.news-item .card-body {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.news-item:hover {
  transform: translateY(-4px);
}

.news-item .news-thumbnail-wrapper {
  max-width: 150px;
  width: 100%;
}

.news-item .news-text-wrapper {
  width: 100%;
  padding: 8px;
}

.news-item .card-body .news-image-wrapper {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.news-item .card-body .news-thumbnail {
  width: 100%;
  height: 100%;
  max-height: 150px;
  max-width: 150px;
  object-fit: cover;
}

.news-item .news-text .card-title {
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.news-item .news-text .news-summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.news-item .news-text {
  position: relative;
  height: 100%;
}

.news-item .news-text p {
  margin: 0;
}

.news-text .btn--medium {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 24px;
  font-size: 14px;
  line-height: 18px;
}

.nav-mobile-menu,
.nav-mobile-profile {
  display: none;
}

.side-menu {
  display: none;
}

/* FAQ */

.terms-page .card, .privacy-page .card, .faqs .card {
  padding: 16px;
  background-color: #25282B;
  box-shadow: 0 0 8px rgba(255, 150, 0, 0.5);
  transition: all .3s;  
}

.terms-page .card:hover, .privacy-page .card:hover, .faqs .card:hover {
  transform: scale(1.1);
}

.terms-page .card-body, .privacy-page .card-body, .faqs .card-body {
  padding: 0;
}

.terms-page .card .card-title, .privacy-page .card .card-title, .faqs .card .card-title {
  font-size: 18px !important;
  color: #aeaeae;
}

.terms-page .card .card-link, .privacy-page .card .card-link, .faqs .card .card-link{
  color: #FFAE04;
  font-weight: bold;
}

.terms-page .card .card-link:hover, .privacy-page .card .card-link:hover, .faqs .card .card-link:hover {
  text-decoration: underline;
}

.terms-detail .terms-content p, .privacy-detail .privacy-content p, .faq-detail .faq-content p {
  color: #fff;
}

/* TRANSACTION SUCCESS */
.transaction-success, .transaction-failed {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23000000' stroke-width='0.19' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cuse fill='%23050505' href='%23s' y='2'/%3E%3Cuse fill='%23050505' href='%23s' x='1' y='2'/%3E%3Cuse fill='%230a0a0a' href='%23s' x='2' y='2'/%3E%3Cuse fill='%230a0a0a' href='%23s'/%3E%3Cuse fill='%230f0f0f' href='%23s' x='2'/%3E%3Cuse fill='%230f0f0f' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cg fill='%23141414'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cg fill='%23141414'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cg fill='%231a1a1a'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%231f1f1f'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(16.7) translate(-940.12 -705.09)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.transaction-success .message-wrapper {
  /* border: 2px solid #ff9600;
  border-radius: 4px; */
  max-width: 600px;
  width: 100%;
  padding: 16px;
  text-align: center;
}

.transaction-success .message-wrapper div.my-4 {
  width: min-content;
  margin: 0 auto;
}

.transaction-failed .message-wrapper div.my-4 {
  padding: 16px;
  width: min-content;
  margin: 0 auto;
}
.transaction-success .message-wrapper svg.fa-minus-circle {
  font-size: 72px;
  color: #ffae04;
}

.transaction-failed .message-wrapper i.fa-times-circle {
  font-size: 72px;
  color: #ff0800;
}


.my-course a:hover {
  text-decoration: none;
}

.card-dark {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: #17141d;
  border-radius: 8px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
}

.card-dark:hover {
  transform: translateY(-5px);
  transition: 0.4s ease-out;
}

.card-horizontal {
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-dark .card-dark-img {
  width: 100%;
  max-width: 150px;
}

.card-dark-img img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  background-position: center center;
  border-radius: 8px 0 0 8px;
}

.card-dark .card-dark-body {
  width: 100%;
  padding: 8px;
  flex-direction: column;
  color: #fff;
}

.card-dark-body .card-dark-title {
  font-size: 18px;
  font-family: Playfair Display;
}

.card-dark-body .card-dark-text {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
}

.card-dark-body hr {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  border-top: 2px solid #FFAE04;
}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
  /* Navbar */
  .nav-mobile-menu,
  .nav-mobile-profile {
    display: block;
  }

  .nav-top .btn--nude {
    margin: 0;
  }

  .nav-mobile-menu__toggle {
    border: 2px solid #FFAE04;
    background-color: transparent;
    border-radius: 4px;
  }

  .nav-mobile-menu__toggle {
    color: #FFAE04;
  }

  .nav__content__left {
    justify-content: space-between;
  }

  .nav__content-links, .nav--content--right {
    display: none;
  }

  .side-menu {
    background: rgb(51,51,51);
    background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
    position: fixed;
    top: 64px;
    max-width: 100%;
    width: 100%;
    z-index: 501;
    padding: 0;
    text-align: left;
    overflow-y: scroll;
  }

  .side-menu button#side-menu-close {
    text-align: right;
    color: #ff0800;
    font-size: 18px;
    width: 100%;
  }

  .side-menu ul {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .side-menu ul li{
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    border-bottom: 1px solid #333;
  }

  .side-menu ul li a {
    display: block;
    color: #FFAE04;
    position: relative;
    padding: 10px 16px;
  }

  .side-menu ul li:hover {
    cursor: pointer;
    background-color: #222;
    border-left: 3px solid #FFAE04;
  }

  .side-menu ul li a:hover {
    text-decoration: none;
  }

  .side-menu ul li a .counter-background {
    font-size: 10px;
    font-weight: bold;
    background-color: #FFAE04;
    color: #000000;
    opacity: .7;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    left: 0;
  }

  .side-menu ul li.admin-link a {
    text-transform: uppercase;
  }
  /* Landing Page */
  .container .header__left > p.body-2 {
    width: 100%;
  }

  .container .header__signup {
    width: 100%;
  }

  .container .header__signup > form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container .header__signup input {
    margin: 0 0 16px 0;
  }
  
  .container .header__signup > button {
    width: 100%;
    font-size: 18px;
  }

  .summary-desc__item__text h1 {
    font-size: 24px;
    margin-right: 8px;
  }

  .mentor-show .summary-desc {
    flex-wrap: nowrap;
  }

  .mentor-show .summary-desc__item {
    padding: 16px 8px;
  }

  .video-preview {
    padding: 16px;
  }
  .whatis{
    margin-bottom: 3rem;
  }
  .testimonial__item {
    margin-bottom: 16px;
  }
  .testimonial__item .testimonial__text__container {
    padding: 0;
  }
  .testimonial__item__text {
    min-height: 240px;
  }

  /* Mentor */
  .mentor img.header-decoration {
    display: none;
  }

  .mentor__fetured-comments__comment {
    flex-direction: column;
  }

  .mentor__fetured-comments__text {
    border-radius: 0 0 8px 8px;
  }

  /* About Us */
  img.mentor-request__img__decor {
    right: 30px;
    z-index: -1;
  }

  /* Wishlist */
  .wishlist__card__img {
    width: 100%;
  }

  .wishlist__card__text {
    width: 100%;
    padding: 8px;
  }

  #unwishlist-mobile {
    background-color: rgba(255, 255, 255, .7);
  }
  
  /* Cart */
  #order .cart__items__item__details {
    flex-grow: 1;
  }

  #order .cart__items__item__details__price {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
  }

  .cart__items__item__details {
    flex-grow: 0;
    padding-left: 16px;
  }
  
  .cart__items__item__details h2 {
    font-size: 16px;
    max-width: 200px;
  }

  .cart__items__item__img {
    width: 50%;
  }

  .cart__items__item__details__price {
    font-size: 14px;
  }

  .cart__total__title {
    font-size: 24px;
  }

  .cart__total__price__right {
    font-size: 20px;
  }

  .cart__total .btn--large {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
  }

  .footer ul li {
    display: inline;
    margin-right: 16px;
  }
}

/* Profile */

#order .cart__items__item__img {
  width: 50px;
  height: 50px;
}

/* TABLET */

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Tablet Nav Menu */
  .nav-logo {
    margin-right: 16px;
  }

  .nav__content__left {
    width: 70%
  }

  .nav__content-links {
    position: relative;
  }
  
  .nav__content-links .search {
    position: absolute;
    top: -5px;
    left: 65%;
    z-index: 3;
  }

  .nav__content-links a {
    font-size: 14px;
    margin: 0 16px 0 0;
  }
  
  /* Tablet Landing Page */
  .header__signup {
    display: flex;
    justify-content: space-between;
  }

  .header__signup form {
    display: flex;
    width: 100%;
  }

  .header__signup .header__input {
    margin-right: 16px;
    padding: 8px;
  }

  .header__signup form button {
    font-size: 18px;
    padding: 16px 24px;
  }

  .testimonial__text__container {
    padding: 0;
  }

  /* Tablet Carts */
  .cart__items__item__img {
    max-width: 50%;
  }

  .cart__items__item__details h2 {
    font-size: 16px;
    max-width: 200px;
  }

  .cart__items__item__details__price {
    font-size: 16px;
  }
  
  .cart__total {
    padding: 16px;
  }

  .cart__total__title {
    font-size: 20px;
  }

  .cart__total__price {
    flex-direction: column;
  }

  .cart__total__price__right {
    font-size: 18px;
  }

  .cart__total .btn--large {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
  }
}

/* OWL CAROUSEL */
.owl-nav {
  display: none;
}
.owl-dots button {
  text-align: center;
  color: #FFAE04;
}
.slider-mobile.owl-theme .owl-dots .owl-dot span {
  background: #FFAE04;
}
.slider-mobile.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
}